<div class="ui one columns grid stackable">
<div class="column">
  <h2 class="ui header divided"><%= gettext "Welcome to %{name}", name: "Ruru!" %></h2>
  <p>Simple support chat</p>
</div>

<div class="column">
  <div id="content">
  </div>
</div>
