<script type="text/javascript">
		window.operatorID = <%= current_operator(@conn).id %>;
		window.operatorEmail = '<%= current_operator(@conn).email %>';
</script>	
<section class="ui text container">
	<div id="answer"></div>
</section>